#header {
    width: 200px;
    background-image: url(good-deed.png) !important;
    background-repeat: no-repeat;
    height: 50px;
    margin: 0 auto;
    background-size: 100%;
}

#header-wrap {
    background-color: #592086;
}
