
@font-face {
    font-family: DeliciousRoman;
    src: url(/fonts/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: DeliciousRoman;
    src: url(/fonts/SourceSansPro-Light.otf);
}

.esplix-name {
    color: gray;
    font-family: "Source Sans Pro", "Verdana", sans-serif;
    font-size: 3vw;
    font-weight: 400;
    letter-spacing: 20px;
}