// ChromaWay colors
// nr 1:  #343c4b
// nr2:  #ef4e22
// nr 3: #939597;
$default-font: 'Source Sans Pro', sans-serif;
$primary-color: #343c5b;
$primary-background-color: #fff;
$primary-color-hover: #ef4e22;

$background-color: #f8f8ff;

$input-color: #202020;
$input-background-color: #ffffff;
$input-border-color: #707070;
$message-color: #ef4e22;

$area-small-background-color: #f5f5f5;
$area-small-border-color: $primary-color;

$alert-ground-background-color: #202020;
$alert-content-background-color: #ffffff;
$alert-content-border-color: #f0f0f0;

@import '_default_color_map';