
$h4-color: $primary-color;

$tab-border-color: $primary-color;

$tab-active-background-color: $background-color;
$tab-active-color:$primary-color;
$tab-active-hover-background-color: $background-color;
$tab-active-hover-color: $primary-color-hover;

$tab-hover-color: $tab-active-hover-color;

$tab-inactive-background-color: $primary-color;
$tab-inactive-color: $primary-background-color;

$area-background-color: $background-color;
$area-border-color: $tab-border-color;
