$default-font: sans-serif;

$primary-color:#592086;
$primary-background-color: #fff;
$primary-color-hover: #f5a623;

$background-color: #f8f8ff;

$input-color: #202020;
$input-background-color: #ffffff;
$input-border-color: #707070;
$message-color: #aa0000;

$area-small-background-color: #f5f5f5;
$area-small-border-color: $primary-color;

$alert-ground-background-color: #202020;
$alert-content-background-color: #ffffff;
$alert-content-border-color: #f0f0f0;

$h4-color: $primary-color;

$tab-border-color: $primary-color;

$tab-active-background-color: $background-color;
$tab-active-color:$primary-color;
$tab-active-hover-background-color: $background-color;
$tab-active-hover-color: $primary-color-hover;

$tab-hover-color: $tab-active-hover-color;

$tab-inactive-background-color: $primary-color;
$tab-inactive-color: $primary-background-color;

$area-background-color: $background-color;
$area-border-color: $tab-border-color;
