$primary-color: #2196f3;
$primary-background-color: #fff;
$primary-color-hover: #ffd800;

$background-color: #f8f8ff;

$input-color: #202020;
$input-background-color: #ffffff;
$input-border-color: #707070;
$message-color: #aa0000;

$area-small-background-color: #f5f5f5;
$area-small-border-color: $primary-color;

$alert-ground-background-color: #202020;
$alert-content-background-color: #ffffff;
$alert-content-border-color: #f0f0f0;

@import '_default_color_map';