@import '../skin/current_skin';


body {
  margin: 0;
  padding: 0;
  font-family: $default-font;
  overflow: auto;
}

.chain-id {
    word-wrap: break-word;
}

div.dropdown div.text, div.dropdown span.text {
    word-wrap: normal !important;
    width: 100% !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

@media (max-width: 400px) {
    input.parameter-pk, div.parameter-pk input {
        max-width: 75px !important;
    }

    input.parameter-primitive, div.parameter-primitive input {
        max-width: 125px !important;
    }

    div.parameter-label, div.parameter-primitive div.label {
        max-width: 75px !important;
        overflow: hidden !important;
        display: inline-block !important;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    input.parameter-pk, div.parameter-pk input {
        max-width: 100px !important;
    }

    input.parameter-primitive, div.parameter-primitive input {
        max-width: 150px !important;
    }

    div.parameter-label, div.parameter-primitive div.label {
        max-width: 125px !important;
        overflow: hidden !important;
        display: inline-block !important;
    }
}

@media (min-width: 500px) {
    div.parameter-label, div.parameter-primitive div.label {
        display: inline-block !important;
    }
}
